* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1140px;
  margin: auto;
}
/* Nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-items {
  display: flex;
  list-style: none;
  gap: 48px;
}
.nav-items li a {
  text-decoration: none;
  color: #8987a1;
  font-weight: 500;
  font-size: 16px;
}

.nav-items li a.active {
  color: #252432;
}

/* Banner-on */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 120px;
}
.banner h2 {
  color: #000000;
  font-size: 65px;
  font-weight: bold;
  margin: 0px;
}

.span {
  color: #e95a08;
}
.banner p {
  color: #4e4e4e;
}

.right-menu {
  display: flex;
  gap: 48px;
}

.cart li {
  list-style: none;
}
.cart li a {
  text-decoration: none;
  color: #252432;
}

/* Flower-section */

.Plants {
  text-align: center;
}
.Plants h2 {
  font-size: 50px;
  margin-top: 70px;
  margin-bottom: 0px;
}
.Plants p {
  color: #4e4e4e;
  width: 49%;
  margin: 0 auto;
  margin-bottom: 49px;
}
.Flower-card-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.Cart-price {
  /* display: flex; */
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 20px;
}
.Flower-card {
  width: 270px;
  height: 484px;
  text-align: center;
}
.btn {
  background-color: #e95a08;
  color: white;
  width: 270px;
  height: 50px;
  border: none;
  cursor: pointer;
}
.flowers-cards {
  display: flex;
  gap: 20px;
}
.Flower-card h1 {
  margin-top: 30px;
  margin-bottom: 20px;
  line-height: 150%;
}

.flowers-cards:last-child {
  margin-top: 30px;
}
/* maine */
.maine {
  display: flex;
  justify-content: space-between;
  margin-top: 241px;
  gap: 60px;
}
.maine img {
  width: 540px;
  height: 597px;
}
.maine li {
  color: #4e4e4e;
  font-size: 22px;
}
.maine h2 {
  color: black;
  font-size: 50px;
  font-weight: bold;
}
/* visitar */
.deals {
  text-align: center;
  margin-top: 132px;
}
.deals h2 {
  color: #000000;
  font-size: 50px;
  font-weight: bold;
}
.deals p {
  color: #4e4e4e;
  margin-top: 20pz;
}
.visitor {
  margin-top: 52px;
  display: flex;
  justify-content: space-between;
}
.visitor-one {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/assets/deal-ana.png);
  width: 367px;
  height: 197px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.visitor a {
  color: #fff;
  font-size: 20px;
  font-size: 16px;
}
.visitor-two {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/assets/deal-bloom.png);
  color: #ffff;
  width: 367px;
  height: 197px;
  margin-top: 25px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.visitor-three {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/assets/deal-zabo.png);
  font-size: 40px;
  font-weight: bold;
  width: 753px;
  height: 423px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
}
.visitor-on-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.visitor h1 {
  margin: 0%;
  padding: 0%;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
/* banner-two */
.banner-parent {
  width: 100%;
  height: 348px;
  background-image: url(/assets/news-letter-bg.png);
  margin-top: 121px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.banner-two input {
  width: 644px;
  height: 50px;
}
.btn {
  background-color: #e95a08;
}
.banner-two h2 {
  color: #fff;
  font-size: 50px;
  font-weight: bold;
}
.footer-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* footer */
.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer-prent {
  width: 1440px;
  height: 348px;
  margin-top: 50px;
}
.footer p {
  color: #4e4e4e;
}
.footer li {
  color: #4e4e4e;
  line-height: 32px;
}
.image {
  display: flex;
  align-items: center;
}

.main-content-image {
  position: relative;
}

.features-badge {
  position: absolute;
  top: -143px;
  right: -109px;
}

.features-badge img {
  width: 286px;
  height: 286px;
}

.social-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 20px;
  }
  nav img {
    width: 63px;
    height: 38px;
  }
  .nav-items {
    display: none;
  }
  .Plants h2 {
    font-size: 33px;
    margin-bottom: 16px;
  }
  .Flower-card h1 {
    font-size: 16px;
  }
  .maine {
    margin-top: 42px;
  }
  .maine h2 {
    gap: 0px;
  }
  .maine img {
    width: 358px;
    height: 396px;
  }
  .Cart-price {
    font-size: 16px;
    font-weight: bold;
  }
  .banner {
    flex-direction: column-reverse;
    margin: 0;
    align-items: start;
  }
  .banner h2 {
    font-size: 33px;
    margin-top: 28px;
  }
  .banner img {
    width: 100%;
  }
  .btn {
    width: 171px;
    height: 50px;
  }
  .Flower-card {
    width: 171px;
  }
  .flowers-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .Flower-card {
    flex: 0 0 47%;
    box-sizing: border-box;
  }
  .Flower-card img {
    width: 100%;
  }

  .maine {
    flex-direction: column;
  }

  .main-content-image img {
    width: 100%;
  }

  .features-badge {
    display: none;
  }
  .visitor {
    flex-direction: column;
  }
  .visitor-three,
  .visitor-one,
  .visitor-two {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 184px;
  }

  .visitor-three {
    margin-top: 25px;
  }

  .footer {
    flex-direction: column;
    height: 100%;
  }
  .footer div ul li {
    list-style: none;
    margin-bottom: 32px;
  }
  .deals-section h2 {
    margin-top: 177px;
    font-size: 24px;
  }
  .banner-two h2 {
    font-size: 27px;
  }
  .banner-two input {
    width: 218px;
  }
  .banner-parent {
    margin-top: 40px;
  }
  .footer-wrapper {
    margin-top: 50px;
  }

  .social-link-wrapper {
    padding-bottom: 50px;
  }

  .deals {
    margin-top: 10px;
  }

  .deals h2 {
    margin: 0;
  }

  .Flower-card {
    height: 340px;
    margin-bottom: 50px;
  }
  .flowers-cards:last-child {
    margin: 0;
  }
  .Plants p {
    width: 100%;
  }
}
